#page-content{
    background-image: url(../img/retina_wood.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

#header{
    background-image: url(../img/metal_2.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    margin-bottom: 20px;
}

.page-header{
    margin-top: 0px;
}

.h1, h1{
    word-wrap: break-word;
    white-space: normal;
}

.page-header .logo{
    margin-left: 40px;
    color: #fff;
    font-family: 'Righteous', cursive;
    font-size: 40px;
    font-weight: normal;
    line-height: 60px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000;
    text-align: center;
    white-space: normal;
}

.page-header small{
    color: lightgray;
}

.banner{
    border-radius: 15px;
    background-color: gray;
    box-shadow: 5px 5px 10px gray;
}

.banner:hover{
    background-color: lightgrey;
}

.banner:hover h2{
    color: gray;
}

.banner h2{
    color: white;
    font-weight: bold;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

.footer{
    min-height: 50px;
    padding: 15px;
}

p{
    font-size: large;
}

.btn-info{
    background-color: gray;
    border: gray;
}

.btn-info:hover{
    background-color: lightgrey;
    color:gray;
}

.companyInfo{
    margin: 15px;
    margin-top: 0px;
}

address{
    padding-top: 100px;
    text-align: center;
    font-size: 2em;
}

thead th{
    text-align: center;
}

.media-heading{
    margin-bottom: 20px;
}

.panel-group .panel+.panel{
    margin-top: 50px;
}

.media-body{
    padding-left: 10px;
    padding-right: 10px;
}

.media-body > h3{
    padding-top: 10px;
}

.media img{
     margin: 10px;
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    background-color: lightgrey;
    border-color: lightgrey;
}

.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: lightgrey;
    border-color: lightgrey;
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: lightgrey;
    border-color: lightgrey;
}